@font-face {
  font-family: 'telkomsel-batik-bold';
  src:  url('TelkomselBatikSans-Bold.eot');
  src:  url('TelkomselBatikSans-Bold.svg') format('svg'),
        url('TelkomselBatikSans-Bold.ttf') format('ttf'),
        url('TelkomselBatikSans-Bold.woff') format('woff'),
        url('TelkomselBatikSans-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'telkomsel-batik-regular';
  src:  url('TelkomselBatikSans-Regular.eot');
  src:  url('TelkomselBatikSans-Regular.svg') format('svg'),
        url('TelkomselBatikSans-Regular.ttf') format('ttf'),
        url('TelkomselBatikSans-Regular.woff') format('woff'),
        url('TelkomselBatikSans-Regular.woff2') format('woff2');
}