.detail-container{
  @apply relative flex flex-col;
}
.main-list-berry{
  @apply flex flex-wrap justify-evenly h-[30vh] overflow-y-auto mt-4 gap-1 lg:h-[50vh];
}
.fade-out {
    animation: fadeOut 800ms ease-out;
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-20px);
    }
  }