
  <div class="detail-container" [ngClass]="getPokemonClass(pokemon?.types)">
    <div class="pb-8 flex-1 mx-4 mt-4">
      <div class="flex flex-col" *ngIf="pokemon">
        <!-- heading -->
        <div class="flex justify-between items-center py-2 px-5">
          <span> </span>
          <p class="capitalize bg-white px-2 rounded-full text-gray-800 ">{{pokemon.types}}</p>
          <div class="cursor-pointer">
            <signal-icon size="3" fontIcon="ico_close" color="secondary-9" (click)="handleResetPokemon()"></signal-icon>
          </div>
        </div>
        <!-- heading -->
        <div
          class="max-w-[768px] m-auto relative flex-1"
        >
          <!-- pokemon thumb -->
          <div class="mx-5 flex backdrop-blur-sm bg-white/30 shadow-lg rounded-lg border-2 border-white">
            <div class="p-4 relative">
              <h2 class="text-xl font-semibold text-white text-center uppercase">
                {{ pokemon.name }}
              </h2>
              <img
                *ngIf="pokemon.sprites.front_default"
                [src]="pokemon.sprites.other['official-artwork'].front_default"
                [alt]="pokemon.name"
                class="w-full h-48 object-cover"
              />
              <img
                class="w-full"
                *ngIf="!pokemon.sprites.front_default"
                src="https://via.placeholder.com/150"
                alt="{{ pokemon.name }}"
              />
              <div *ngIf="showWeightChange" (animationend)="onAnimationEnd()" class="fade-out top-10 right-6 absolute text-white rounded px-2"
                [ngClass]="{ 'bg-green-500': currentWeightChange > 0, 'bg-red-500': currentWeightChange < 0, 'animate-walk': animationStatus }">
                {{ currentWeightChange > 0 ? '+' : '' }}{{ currentWeightChange }} kg
              </div>
              <div class="text-center bg-slate-300 p-2 rounded-lg">
                Weight {{pokemon.customWeight}}
              </div>
            </div>
            <div class="p-4 grow">
              <div *ngFor="let stat of pokemon.stats">
                <div class="flex justify-between">
                  <p class="text-gray-800 capitalize">{{ stat.stat.name }}</p>
                  <p class="text-gray-800">{{ stat.base_stat }}</p>
                </div>
                <div class="w-full h-2 bg-gray-200 rounded-full mt-1">
                  <div
                    [style.width.%]="stat.base_stat > 120 ? stat.base_stat / 1.8 : stat.base_stat / 1.2"
                    class="h-full text-center text-xs text-white bg-blue-400 rounded-full"
                  ></div>
                </div>
              </div>
            </div>
          </div>
          <!-- pokemon thumb -->
          <!-- evolution -->
          <div class="flex flex-row flex-wrap mt-5 mx-5 max-h-40 overflow-auto">
            <div *ngFor="let evolution of this.pokemon.evolutionChain; let i = index" class="w-1/3 p-2">
              <div class="flex items-center flex-col">
                <img class="w-10 h-10" [src]="evolution.sprites.other['official-artwork'].front_default" [alt]="evolution.species.name"/>
                <p class="capitalize mb-1">{{evolution.species.name}}</p>
              </div>
              <div class="h-5 bg-gray-200 rounded-lg relative">
                <div
                  [style.width.%]="calculateProgressBarWidth(pokemon.customWeight, evolution.weight)"
                  class="h-full text-center text-xs rounded-lg" 
                  [class]="calculateProgressBarWidth(pokemon.customWeight, evolution.weight) === '100' ? 'bg-yellow-500 animate-pulse' : 'bg-blue-400'"
                ></div>
                <div *ngIf="calculateProgressBarWidth(pokemon.customWeight, evolution.weight) !== '100'"
                  class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-gray-800 text-xs"
                >
                  {{calculateProgressBarWidth(pokemon.customWeight, evolution.weight)}} %
                </div>
                
                <button *ngIf="calculateProgressBarWidth(pokemon.customWeight, evolution.weight) === '100'"
                  class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white text-xs font-bold"
                  (click)="handleNextEvolve(evolution.species.name)" 
                >
                  Evolve
                </button>
              </div>
            </div>
          </div>
          <!-- evolution -->
        </div>
      </div>
    </div>
    
    @defer{
      <div class="bg-white pt-5 px-5 rounded-ss-2xl rounded-se-2xl overflow-hidden h-1/3">
        <app-callout [open]="isError.detailBerry" [message]="errorMessage.msgBerry?.message + ': error berry'"></app-callout>
        
        @if(isError.detailBerry){
          <signal-button variant="1" color="primary" size="medium" [full]="true" [disabled]="false" (onClick)="getAllBerries()">
            Refresh Berry
          </signal-button>
        }
        <div class="max-w-7xl mx-auto">
          <div class="main-list-berry" *ngIf="!isError.detailBerry && !isLoading.detailBerry && berryList">
              <div class="w-2/12 lg:w-1/12" *ngFor="let berry of berryList">
                <app-berry-item (feedPokemon)="handleFeedPokemon(berry)" [berry]="berry"></app-berry-item>
              </div>
          </div>
        </div>
      </div>
    }
    @placeholder {
      <div class="max-w-[768px] mx-auto p-28">
          <app-loading [open]="true" message="Loading Berry..."></app-loading>
      </div>
    }
  </div>
