<div class="group pokemon-item"
    [ngClass]="{ 'bg-yellow-100 border-blue-500': isSelected }"
    (click)="handleSelectedPokemon(pokemon)" 
    (keyup.enter)="handleSelectedPokemon(pokemon)" 
    tabindex="0">
    <div class="ml-5 capitalize">
        <h3 class="pokemon-name">{{pokemon.name}}</h3>
        <p [ngClass]="getPokemonClass(pokemon.types[0].type.name)" class="pokemon-type">{{pokemon.types[0].type.name}}</p>
    </div>
    <div class="pokemon-thumb">
        @if(pokemon.sprites.front_default){
            <img 
                [src]="pokemon.sprites.other['official-artwork'].front_default" 
                alt="{{ pokemon.name }}" 
                class="group-hover:scale-125">
        }
        @else {
            <img class="w-full" src="https://via.placeholder.com/150" alt="{{ pokemon.name }}" />
        }
    </div>
</div>