
.pokemon-item{
    @apply flex items-center justify-between relative h-32 overflow-hidden m-2 bg-white shadow-lg rounded-lg border-solid border-8 hover:border-blue-500 cursor-pointer;
    .pokemon-name{
        @apply text-3xl font-semibold text-gray-800
    }
    .pokemon-type{
        @apply inline-block p-1 rounded-md text-white mt-3 text-xs
    }
    .pokemon-thumb{
        @apply absolute -bottom-16 -right-2;
        img{
            @apply w-full h-48 object-cover transition-all ease-linear;
        }
    }
}