@font-face {
  font-family: 'poppins-bold';
  src:  url('Poppins-Bold.otf') format('opentype'),
        url('Poppins-Bold.svg') format('svg'),
        url('Poppins-Bold.ttf') format('truetype'),
        url('Poppins-Bold.woff') format('woff'),
        url('Poppins-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'poppins-extra-bold';
  src:  url('Poppins-ExtraBold.otf') format('opentype'),
        url('Poppins-ExtraBold.svg') format('svg'),
        url('Poppins-ExtraBold.woff') format('woff'),
        url('Poppins-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: 'poppins-light';
  src:  url('Poppins-Light.otf') format('opentype'),
        url('Poppins-Light.svg') format('svg'),
        url('Poppins-Light.ttf') format('truetype'),
        url('Poppins-Light.woff') format('woff'),
        url('Poppins-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'poppins-medium';
  src:  url('Poppins-Medium.otf') format('opentype'),
        url('Poppins-Medium.svg') format('svg'),
        url('Poppins-Medium.ttf') format('truetype'),
        url('Poppins-Medium.woff') format('woff'),
        url('Poppins-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'poppins-regular';
  src:  url('Poppins-Regular.otf') format('opentype'),
        url('Poppins-Regular.svg') format('svg'),
        url('Poppins-Regular.ttf') format('truetype'),
        url('Poppins-Regular.woff') format('woff'),
        url('Poppins-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'poppins-thin';
  src:  url('Poppins-Thin.otf') format('opentype'),
        url('Poppins-Thin.svg') format('svg'),
        url('Poppins-Thin.ttf') format('truetype'),
        url('Poppins-Thin.woff') format('woff'),
        url('Poppins-Thin.woff2') format('woff2');
} 