<app-callout [open]="isError || !!errorMesssage" [message]="errorMesssage?.message" (handleClose)="closeCallout()"></app-callout>
<div class="main-wrapper">
    <div class="content-main">
        <div class="search-bar">
            <div class="flex-1">
                <signal-input-basic 
                    [(ngModel)]="search_value"
                    placeholder="Search Pokemon by Name or ID"
                    (keyup.enter)="handleSearchPokemon()"
                    variant="2">
                </signal-input-basic>
            </div>
            <signal-button 
                variant="1" 
                color="primary" 
                size="medium" 
                [full]="false" 
                [disabled]="false" 
                (onClick)="handleSearchPokemon()">
                Search
            </signal-button>
        </div>
        <div class="flex-1 main-list-pokemon">
            <cdk-virtual-scroll-viewport itemSize="10" class="h-full" #viewport (scrolledIndexChange)="handleScroll()">
                @defer {
                <div class="pokemon-list-konten">
                    @for (pokemon of pokemons; track pokemon) {
                    <div class="overflow-hidden w-full sm:w-1/2 md:w-1/3">
                        <app-pokemon-item 
                            [pokemon]="pokemon" 
                            (selectPokemon)="handleSelectedPokemon(pokemon)"
                            [isSelected]="selectedPokemon?.id === pokemon.id">
                        </app-pokemon-item>
                    </div>
                    }
                </div>
                }
                @if (isLoading) {
                    <div class="p-28">
                        <app-loading [open]="isLoading"></app-loading>
                    </div>
                }
            </cdk-virtual-scroll-viewport>
            @if (isLoadingChosenPokemon) {
                <div class="loading-chosen-pokemon">
                    <app-loading [open]="isLoadingChosenPokemon" [message]="search_value ? 'Finding Pokemon' : 'Loading Chosen Pokemon'"></app-loading>
                </div>
            }
        </div>
    </div>
    <div class="action-bar">
        <div class="mx-5 py-5">
            <signal-button 
                variant="1" 
                color="primary-5" 
                size="medium" 
                [full]="true" 
                [disabled]="!selectedPokemon || isLoadingChosenPokemon ? true : false" 
                (onClick)="handleChoosePokemon()">
                <span class="capitalize">{{selectedPokemon ? 'I Choose '+selectedPokemon.name : 'Choose Your Pokemon'}}</span>
            </signal-button>
        </div>
    </div>
</div>

