.main-wrapper{
    @apply h-screen relative bg-yellow-300;
}

.content-main{
    @apply flex flex-col gap-2 h-full;
}

.search-bar{
    @apply flex gap-2 p-5 bg-white shadow-lg;
}

.pokemon-list-konten{
    @apply flex flex-wrap max-w-full sm:max-w-7xl m-auto min-h-[200px];
}

.main-list-pokemon{
    @apply relative;
}

.action-bar{
    @apply fixed z-10 bottom-0 bg-blue-500 w-full shadow-lg;
}

.loading-chosen-pokemon{
    @apply absolute w-full h-screen -top-2 z-10 bg-slate-400 bg-opacity-30 flex items-center justify-center;
}