
<signal-snackbar [color]="'primary'" [open]="open" position="bottom-end" [sticky]="true" (click)="closeComponent()">
    <div class="flex justify-between">
        <strong class="font-bold">Error!</strong>
        <span class="block sm:inline">{{ message }}</span>
    </div>   
</signal-snackbar>
