<div class="flex flex-col h-screen items-center justify-center bg-yellow-300">
    <h2 class="text-7xl font-bold text-red-500 mb-2">404</h2>
    <p class="mb-5 text-4xl">Pokemon tidak ada disini</p>
    <signal-button (onClick)="toHome()">Pokemon List</signal-button>
</div>
